body
{
position:relative;
margin-top:200px;
}
#container
{
position:relative;
width:400px;
margin: 0 auto;
}

h1, #otsake1
{
position:relative;
width:400px;
text-align:center;
background-color:#ee3e64;
}

#vasen
{
width:100px;
}
.oikea
{
box-shadow: 0px 10px 0px rgba(222,215,218,0.5);
width:250px;
}

#wedding
{
top:40px;
left:150px;
position:absolute;
}
#vdu
{

top:160px;
left:150px;
position:absolute;
}
#webproject
{
top:280px;
left:150px;
position:absolute;
}
#responsive
{
top:400px;
left:150px;
position:absolute;
}

h1
{
}
.box
{
position:static;
width:100px;
height:100px;
}
#laatikko_1
{
box-shadow: 10px 10px 5px #888;
background-color:#FF1493;
margin-bottom:20px;
}
#laatikko_2
{
box-shadow: 10px 10px 5px #888;
background-color: #44accf;
margin-bottom:20px;
}
#laatikko_3
{
box-shadow: 10px 10px 5px #888;
background-color:#00FFFF;
margin-bottom:20px;
}
#laatikko_4
{
box-shadow: 10px 10px 5px #888;
background-color:rgb(205,205,205);
margin-bottom:20px;
}
footer
{
position:relative;
width:400px;
background-color:#b7d84b;
}
#foot
{

text-align:center;
}

.Laatikkolinkki1 {
	
	display: block;
	width: 100px;
	height: 100px;
	text-indent: -99999px;
	-moz-box-shadow: 10px 10px 5px #999;
	-webkit-box-shadow: 10px 10px 5px #999;
    box-shadow:10px 10px 5px #999;


}
.Laatikkolinkki1:hover {

	background-position: 0 0;
	-moz-box-shadow: 0px 0px 0px #999;
	-webkit-box-shadow: 0px 0px 0px #999;
    box-shadow: 0px 0px 0px #999;
}
.Laatikkolinkki2 {
	display: block;
	width: 100px;
	height: 100px;
	text-indent: -99999px;
	-moz-box-shadow: 10px 10px 5px #999;
	-webkit-box-shadow: 10px 10px 5px #999;
    box-shadow:10px 10px 5px #999;
}
.Laatikkolinkki2:hover {
	background-position: 0 0;
	-moz-box-shadow: 0px 0px 0px #999;
	-webkit-box-shadow: 0px 0px 0px #999;
    box-shadow: 0px 0px 0px #999;
}
.Laatikkolinkki3 {
	display: block;
	width: 100px;
	height: 100px;
	background: url('img/buttonleafhover.jpg') bottom;
	text-indent: -99999px;
	-moz-box-shadow: 10px 10px 5px #999;
	-webkit-box-shadow: 10px 10px 5px #999;
    box-shadow:10px 10px 5px #999;
}
.Laatikkolinkki3:hover {
	background-position: 0 0;
	-moz-box-shadow: 0px 0px 0px #999;
	-webkit-box-shadow: 0px 0px 0px #999;
    box-shadow: 0px 0px 0px #999;
}
.Laatikkolinkki4 {
	display: block;
	width: 100px;
	height: 100px;
	background: url('img/buttonleafhover.jpg') bottom;
	text-indent: -99999px;
	-moz-box-shadow: 10px 10px 5px #999;
	-webkit-box-shadow: 10px 10px 5px #999;
    box-shadow:10px 10px 5px #999;
}
.Laatikkolinkki4:hover {
	background-position: 0 0;
	-moz-box-shadow: 0px 0px 0px #999;
	-webkit-box-shadow: 0px 0px 0px #999;
    box-shadow: 0px 0px 0px #999;
}