/*Kari Leskinen, HTI12S1A, g9474@student.jamk.fi*/

#ennen
{
width:640px;
position:relative;
}

a:link {color:#000000;}      
a:visited {color:#000000;}  
a:hover {color:#FF00FF;}  
a:active {color:#FF00FF;}  

#koko
{
position:relative;
width:540px;
margin-left:50px;
margin-right:50px;
}

p
{

}

h2
{
text-align:center;
font-style:italic;
font-weight:bold;
}
h1
{
text-align:left;
background-image:url('img/p.jpg');
font-size:24px;
}

#info-1
{
width:540px;
position:relative;
}
#info-1a
{
}
#info-1b
{
text-align:left;
padding-top:0;
padding-bottom:0;
position:relative;
margin-left:50px;
margin-right:50px;
}

#formal-1
{
width:540px;
margin-bottom:50px;
position:relative;
}
#formal-1a
{
float:left;
width:164px;
margin-left:50px;


}
#formal-1b
{
text-align:left;
position:relative;
margin-right:50px;
margin-left:50px;

}

#other-1
{
width:540px;
height:256px;
margin-bottom:50px;
position:relative;
}
#other-1a
{
float:right;
width:168px;
margin-right:50px;
}
#other-1b
{
text-align:left;
position:relative;
margin-left:50px;
margin-right:50px;

}


#jälkeen
{
position:relative;
}